@import './variables';
//------Banner-----
.banner {
  padding: 32px 0;
  background: $purple-color;
  border-bottom: 2px solid $black-color;

  &-head {
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;

      &-text {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        margin-left: 12px;
        cursor: default;
      }
    }

    &__link {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 16px;
    }
  }
  &-list {
    position: relative;
    margin: 24px  0;

    .card {
      padding: 24px 28px;
      text-align: center;

      &-top {
        display: flex;
        align-items: center;
        gap: 4px;
        margin: 0 auto 8px;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        width: fit-content;
        padding: 8px 12px;
        border-radius: 44px;
        border: 1px solid $text-primary;
        background: $yellow-color;
        color: $text-primary;
      }

      &-info {
        width: 100%;
        margin-top: 8px;
        text-align: left;
        cursor: default;

        &__name {
          color: $text-primary;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-decoration: none;
        }

        &__view {
          display: flex;
          align-items: flex-end;
          margin: 12px 0 8px;
          color: $gray-color;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          &-icon {
            margin-left: 4px;
          }
        }

        &__chapter {
          color: $text-primary;
          font-size: 12px;
          font-weight: 700;
          line-height: 18px;
        }
      }
    }

    &-btn-prev,
    &-btn-next {
      position: absolute;
      top: 45%;
      z-index: 10;
      display: inline-grid;
      width: fit-content;
      height: fit-content;
      padding: 6px;
      border-radius: 48px;
      border: 1px solid $text-primary;
      background-color: $white-color;
      
      &::after {
        display: none;
      }
    }

    &-btn-prev {
      left: -64px;
      transform: translate(0, -50%);
    }

    &-btn-next {
      right: -64px;
      transform: translate(0, -50%) scaleX(-1);;
    }
  }
}
