.category {
  position: relative;
  padding: 20px 0 80px;
  min-height: 676px;
  background: $background-category;

  &-menu {
    position: relative;
    padding: 20px 0;
    margin-right: 20px;
    
    &__scroll {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

    }

    &__btn {
      margin: 0 4px 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      background: transparent;
      cursor: pointer;
      white-space: nowrap;

      &:not(.active) {
        border-color: transparent;
      }
      &.active,
      &:hover {
        border: 1px solid #252427;
        box-shadow: none;
        background: $white-color;
      }
      &:hover {
        box-shadow: 4px 4px 0px 0px #252427;
      }
      &:last-child {
        border: 0;
        margin-right: 0;
        box-shadow: none;
        border-color: transparent;

        &:hover {
          background: #f0edf5;
        }
        .svg-down {
          margin-left: 2px;
        }
      }
    }
    &__notification {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $gray-color;
    }
  }
  &-dropdown {
    
    &__list {
      position: absolute;
      right: 0;
      top: 73%;
      z-index: 10;
      border-radius: 8px;
      border: $border-primary;
      box-shadow: $box-shadow;
      list-style: none;
      background: #fff;
      display: none;

      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: -10px;
        right: 13px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
      }
      
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        top: -12px;
        right: 12px;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 12px solid black;
      }

      &-item {
        width: 100%;
        padding: 16px 20px;
        border-radius: 8px;
        cursor: pointer;

        & > * {
          width: 100%;
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          color: var(--text-primary, #252427);
          text-decoration: none;
        }

        &:hover {
          background: $purple-color;
        }
      }
    }

    &:hover > &__list {
      display: block;
    }
  }

  // -----Card-Category-----
  &-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    &__item {
      width: calc(25% - 20px);
      margin: 0 0 40px 20px;
      @include tablet_mobile {
        width: calc(33.3333% - 20px);
      }
      @include mobile {
        width: calc(50% - 20px);
      }
      @include mobile-s {
        width: 100%;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      & > * {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      &-info {
        display: flex;
        flex-direction: column;
        padding: 12px 24px;
        flex: 1;

        &__name {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          margin-bottom: 12px;
          text-transform: capitalize;
          flex: 1;
          
          &-link {
            color: $text-primary;
          }
        }

        &__chapter {
          display: flex;
          flex-direction: column;
          min-height: 66px;

          & > * {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 4px;
          }

          &-number {
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            color: $text-primary;
            cursor: pointer;
          }

          &-update {
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            color: $gray-color;
          }
        }
      }

      &-status {
        display: flex;
        justify-content: space-between;
        padding: 12px 24px;
        border-top: 1px solid $text-primary;

        &__reaction {
          display: block;
          cursor: pointer;

          &.active {
            .card-status__reaction-svg {
              fill: $purple-color;
            }
          }
        }
        &__view {
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          color: $gray-color;

          &-icon {
            margin-left: 4px;
          }
        }
      }
    }
  }

  &-notify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
