.detail {
  background: $background-category;
  padding-bottom: 80px;
  &-content {
    display: flex;
    flex-direction: row;
    background: $white-color;
    margin-bottom: 40px;

    @include tablet {
      flex-direction: column;
    }
    &__chapter {
      width: 31.993%;
      padding: 20px 32px;
      border: $border-primary;

      @include tablet_mobile {
        padding: 20px 18px;
      }
      @include tablet {
        width: 100%;
      }

      &-btn {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
      }

      &-list {
        margin-top: 32px;
        
        & > :last-child {
          margin-top: 16px;
          list-style: none;
          overflow: hidden;
          border-radius: 8px;
          border: $border-primary;
          
          & > * {
            &:nth-child(even) {
              background: #F0EDF5;
            }
            & > * {
              text-decoration: none;
            }
          }
          & > *:not(:last-child) {
            border-bottom: $border-primary;

          }
        }
      }
    }

    .detail-main {
      flex: 1;

      &__heading {
        padding: 20px;
        border: $border-primary;
      }
      &__info {
        border: $border-primary;

        @include mobile-md {
          display: flex;
          flex-direction: column-reverse;
          position: relative;
        }
        &-share {
          padding: 0 12px;
          border-right: $border-primary;

          @include mobile {
            padding: 0 8px;
          }
          @include mobile-md {
            border: unset;
          }
          & > * {
            padding: 8px;

            @include tablet_mobile {
              padding: 6px;
            }

            &:not(:first-child) {
              margin-left: 8px;

              @include mobile {
                padding: 0 4px;
              }
            }
          }
        }
        &-cat {
          flex: 1;
          padding: 0 20px;

          @include tablet_mobile {
            padding: 8px;
          }
          @include mobile-md {
            width: 100%;
            flex-wrap: wrap;
            border-bottom: $border-primary;
          }
          @include mobile-s {
            padding: 8px 0;
          }

          .btn-category {
            @include mobile {
              padding: 8px;
            }
            @include mobile-md {
              width: calc((100% / 3) - 6px);
            }
          }
          .category-menu__btn {
            @include mobile-s {
              font-size: 12px;
            }
          }
        }
        &-status {
          padding: 20px;
          border-left: $border-primary;

          @include tablet_mobile {
            padding: 12px;
          }
          @include mobile {
            padding: 10px;
          }
          @include mobile-md {
            position: absolute;
            right: 0;
            bottom: 0;
            border: unset;
          }

          & > *:not(:first-child) {
            margin-left: 32px;

            @include tablet_mobile {
              margin-left: 24px;
            }
            @include mobile {
              margin-left: 12px;
            }
          }
        }
      }
      &__desc {
        padding: 32px;
        border: $border-primary;

        @include mobile {
          padding: 16px;
        }
        
        &-introduce > *:first-child {
          margin-bottom: 20px;
        }
        &-comment {
          margin-top: 32px;

          .input-primary {
            margin: 20px 0;

            &__box {
              width: 100%;
            }
          }

          .comment-list {
            &__item {
              display: flex;
              &-avatar {
                max-width: 32px;
                margin: 8px;
                
                & > * {
                  cursor: pointer;
                  border-radius: 50%;
                }
              }
              &-message {
                flex: 1;
                margin: 8px;

                .message-chapter {
                  position: relative;
                  margin-left: 16px;
  
                  &::before {
                    position: absolute;
                    content: ">";
                    width: 16px;
                    left: -12px;
                    cursor: default;
                  }
                }
                .message-text {
                  margin: 10px 0 4px;
                  color: $black-color;
                }
                .message-reaction {
                  & > *:not(:first-child) {
                    margin-left: 8px;
                  }
                }
                .message-name,
                .message-chapter,
                .message-reaction {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
