//------Header------
.Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #252427;
    background: #FFF;
  
    &-logo {
      
      img {
        padding: 12px;
        cursor: pointer;
      }
    }
    &-search {
      position: relative;
  
      input {
        width: 552px;
        padding: 10px 48px;
        border-radius: 8px;
        border: 1px solid #000;
        outline: none;
        margin: 14px 0;
      }
      button[type="submit"] {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-indent: -999px;
        overflow: hidden;
        width: 48px;
        height: 38px;
        padding: 0;
        margin: 0;
        border: 1px solid transparent;
        border-radius: inherit;
        background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
        cursor: pointer;
        opacity: 0.7;
      }
      button[type="submit"]:hover {
        opacity: 1;
      }
    }
    &-button {
      display: flex;
      align-items: center;
    
      padding: 12px;
      background: #252427;
  
      a {
        color: #EAFA34;
        text-decoration: none;
      }
      
      a:last-child {
        position: relative;
        margin-left: 12px;
      }
      
      a:last-child::before {
        position: absolute;
        content: "/";
        top: 0;
        left: -10px;
        color: #EAFA34;
      }
    }
    
}