$text-primary: #252427;
$purple-color: #DACCFF;
$yellow-color: #EAFA34;
$white-color: #FFF;
$black-color: #000;
$gray-color: #797979;
$background-category: #f0edf5;

$border-primary: 1px solid var(--text-primary, #252427);
$box-shadow: 4px 4px 0px 0px $text-primary;
